<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/paper/bootstrap.min.css">
<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>

</head>
<script src=/assets/app.js></script>
<body>
<div class="container">
    <div class="col-md-4">
    <h3>Add Details About Your Listing</h3>
    <div>
        add stuff here
        
    </div>
    <form>
        <div class="form-group">
            <label for="description">Keywords: </label>
            <input required type="text" id="keyword" name="keyword" class="form-control">
        </div>

        <div class="form-group">
            <label for="phone">Answer:</label>
            <input required id="phone" name="answer" class="form-control" type="text">
        </div>
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
</div>
    
    
</div>
</body>
</html>